// @import 'bourbon'; // http://bourbon.io/
@import 'partials/_variables'; // colors, fonts etc...
@import 'partials/_mixins'; // custom mixins
@import 'partials/_layout'; // responsive grid and media queries

*, *::after, *::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; 
}

.jumbotron {
    background: $white !important;
}

.home {
  margin: 50px 0;
}

body {
  margin: 0;
  padding: 0;
  border: 0;
  font: {
    size: 100%;
    family: $opensans !important;
  }
}

p {
  word-wrap: break-word;
}

.inline {
  display: inline-block;
}